.page {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.welcome-phrase {
    font-size: 80px; /* Ajuste para dispositivos maiores */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlighted {
    font-size: 80px; /* Tamanho da fonte responsivo */
    padding: 2px 5px;
    display: inline-block;
    animation: pulse 5s infinite;
}

@media (max-width: 600px) {

    .welcome-phrase {
        font-size: 25px; /* Tamanho da fonte maior para telas menores */
    }

    .highlighted {
        font-size: 25px; /* Tamanho da fonte maior para telas menores */
    }
}

@keyframes pulse {
    0% {text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);}
    50% {text-shadow: 0 0 10px rgba(255, 255, 255, 1);}
    100% {text-shadow: 0 0 100px rgba(255, 255, 255, 0.7);}
}
