.pagina {
    display: flex;
    flex-direction: column;
    height: 70vh
}

.welcome-phrase{
   font-size: 80px;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.highlighted{
  padding-top : 100px;
  font-size: 150px;
  padding: 2px 5px; /* Adicione algum padding para melhor visualização */
  display: inline-block;  /* Para garantir que a transformação funcione corretamente */
  animation: pulse 5s infinite;  /* Duas animações aplicadas */
}

@keyframes pulse {
    0% {text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);}
    50% {text-shadow: 0 0 10px rgba(255, 255, 255, 1);}
    100% {text-shadow: 0 0 100px rgba(255, 255, 255, 0.7);}
}
