<div class="pagina">

  <div class="container-centralizado">
    <img src="./assets/logo.svg" alt="Logo centralizada" class="logo">

    <div class="pontos">
      <span class="ponto"></span>
      <span class="ponto"></span>
      <span class="ponto"></span>
    </div>

    <p class="frase">TESTEEEEE</p>

    <div class="pontos">
      <span class="ponto"></span>
      <span class="ponto"></span>
      <span class="ponto"></span>
    </div>

    <app-defaultbutton (click)="redirecionarParaRegistro()" buttonText="Get started!"> </app-defaultbutton>

  </div>
</div>
