<div class="page">

  <p class="login-phrase">Login</p>

  <div class="auth-container">

    <div class="input-container" [formGroup]="inputGroup">

      <app-defaultinput class="email-input" formControlName="email-input" placeholder="Email" type="email"
        [control]="inputGroup.get('email-input')"></app-defaultinput>

      <app-defaultinput class="password-input" formControlName="password-input" placeholder="Password" type="password"
        [control]="inputGroup.get('password-input')"></app-defaultinput>

      <app-defaultbutton buttonClass="confirm" buttonText="Confirm" (click)="login()"></app-defaultbutton>

      <div class="phrase-container">
        <p class="notregistered-phrase">Don't have an account?</p>
        <p class="register-phrase" (click)="redirectToRegister()">Sign up</p>
      </div>

      <p class="or-phrase">or</p>

    </div>

    <div class="oauth2-container">

      <app-googleauth class="google-button"></app-googleauth>

      <p class="request-error-phrase">{{ errorMessage }}</p>

    </div>

  </div>
</div>
