<div class="pagina">
  <div class="input-container">

    <p class="register-phrase">Register</p>

    <app-defaultinput class="name-input" formControlName="name-input" placeholder="Your Name"
      type="text"></app-defaultinput>
    <app-defaultinput class="email-input" formControlName="email-input" placeholder="Email"
      type="email"></app-defaultinput>
    <app-passwordinput class="password-input" formControlName="email-input"></app-passwordinput>

    <app-defaultbutton buttonClass="confirm" buttonText="Confirm"></app-defaultbutton>
    <div class="phrase-container">
      <p class="alreadyregistered-phrase">Already registered?</p>
      <p class="login-phrase" (click)="redirectToLogin()">Login</p>
    </div>
  </div>
</div>
