<div class="page">
  <div class="input-container" [formGroup]="inputGroup">

    <p class="register-phrase">Register</p>

    <app-defaultinput class="name-input" formControlName="name-input" placeholder="Username" type="text"
      [control]="inputGroup.get('name-input')" [validationMessages]="nameValidationMessages"></app-defaultinput>

    <app-defaultinput class="email-input" formControlName="email-input" placeholder="Email" type="email"
      [control]="inputGroup.get('email-input')" [validationMessages]="emailValidationMessages"></app-defaultinput>

    <app-defaultinput class="password-input" formControlName="password-input" placeholder="Password" type="password"
      [control]="inputGroup.get('password-input')" [validationMessages]="passwordValidationMessages"></app-defaultinput>

    <app-defaultbutton buttonClass="confirm" buttonText="Confirm" (click)="register()"
      [disabled]="inputGroup.invalid"></app-defaultbutton>

    <div class="phrase-container">
      <p class="alreadyregistered-phrase">Already registered?</p>
      <p class="login-phrase" (click)="redirectToLogin()">Login</p>
    </div>

    <p class="request-error-phrase">{{ errorMessage }}</p>
  </div>
</div>
