.route-container {
  position: relative;
  min-height: 100vh; /* Ou outro valor que se ajuste ao seu layout */
}

.blur-content{
  filter: blur(10px);
  transition: filter 0.3s ease;
}

.no-blur-content {
  filter: blur(0px);
  transition: filter 0.3s ease;
}

html, body {
    font-family: 'Ubuntu';
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

